body {
    font-family: Helvetica, sans-serif
}

nav {
    background-color: #7ca6de;
    overflow: hidden;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-menu li a:hover {
    background-color: #ddd;
    color: black;
}